@font-face {
  font-family: 'ChunkFive';
	src: url('../fonts/chunk-webfont.eot');
	src: local('ChunkFive'), url('../fonts/chunk-webfont.woff') format('woff'), url('../fonts/chunk-webfont.ttf') format('truetype'), url('../fonts/chunk-webfont.svg#webfont4qZs1K5b') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fontin';
	src: url('../fonts/fontin-italic-webfont.eot');
	src: local('Fontin'), url('../fonts/fontin-italic-webfont.woff') format('woff'), url('../fonts/fontin-italic-webfont.ttf') format('truetype'), url('../fonts/fontin-italic-webfont.svg#webfontLJAzjZpW') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
padding:0;
}

.about_site {
display:block;
float:right;
height:200px;
margin-top:-114px;
margin-right:8px;
background:url('../img/little_dude.png') no-repeat center right;
}

.ie .about_site {
margin-top:-113px;
}

.about_site p {
display:block;
margin-top:136px;
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
-o-transform: rotate(-5deg);
}

.about_site a {
padding:16px;
margin-top:200px;
background-color:#000;
font-size:14px;
color:#fbf6f1;
}

.about_site a span, .about_site a:hover {
color:#e0212e;
}

 .about_site a:hover span {
color:#fbf6f1;
}


.award {
visibility:visible;
}

header h1 {
font-size:44px;
line-height:36px;
}

header h3 {
font-size:24px;
line-height:30px;
font-family: 'Fontin',"Palatino Linotype","Book Antiqua",Palatino,FreeSerif, serif;
}

nav ul {
width:320px;
}

.mac.chrome nav li {
padding-top:7px;
}

.mac.gecko nav li {
padding-top:10px;
}

nav a {
font-size: 18px;
}

.about a {
font-size:14px;
line-height:14px;
}

.about_bg {
background:url('../img/graphic_about.png') no-repeat center bottom;
padding-bottom: 124px;
}

.about .about-text {
width:392px;
}

.opera .about .about-text {
width:400px;
}

h2 {
font-size:36px;
line-height:36px;
}

.about p, .contact p {
font-size:18px;
line-height:24px;
margin-bottom:8px;
}

.work {
margin-top:-1px;
}


.work h2 {
padding:48px 0 0 0;
}


.work h4 {
font-size:14px;
line-height:14px;
}


.about div.link {
position:absolute;
z-index:500;
width:100%;
max-width:940px;
margin: 0 auto;
padding-top:83px;
}

.work-example {
width:100%;
max-width:100%;
}

.ie .work-example {
width:940px;
max-width:940px;
}

.work-example .leftcol {
width:54.5%;
margin:0 0 0 40px;
}

.work-example .rightcol {
width:28.5%;
float:left;
margin:0 24px 0 48px;
}

.work-example .rightcol h3 {
padding-top:0;
font-size:24px;
line-height:24px;
margin-bottom:8px;
}

.ie .work-example .rightcol h3, .win.gecko .work-example .rightcol h3 {
margin-bottom:14px;
}

.work-example .rightcol p {
font-size:14px;
line-height:18px;
margin-bottom:8px;
}

.work-example img {
width:100%;
margin-left:0;
}

.work-example h3, .work-example p {
padding:0;
}

.work-example .sub-nav {
width:100%;
margin:32px 0 0 0;
}

.work-example .sub-nav p {
margin:0;
width:50%;
}

.work-example .sub-nav a {
font-size:14px;
line-height:14px;
background:#000 no-repeat 8px center;
padding:8px 8px 8px 28px;
}

.work-example .sub-nav a.gototop {
background-image:url('../img/bg-button_top.png');
}

.work-example .sub-nav a.gotocontact {
background-image:url('../img/bg-button_contact.png');
border-left:1px solid #545251;
}

.brain-o-meter {
width:100%;
height:72px;
border-bottom:5px solid #000;
}

.visual {
float:left;
height:72px;
width:62px;
background:url('../img/icon_visual.png') no-repeat bottom right;
}

.ux {
float:right;
height:72px;
width:62px;
background:url('../img/icon_ux.png') no-repeat bottom left;
}

.high {
background-position: right 20px;
}

.med {
background-position: right 32px;
}

.low {
background-position: right 52px;
}

.contact-wrapper {
width:100%;
height:414px;
background:url('../img/bg-contact.png') no-repeat center top;
padding:0;
}


.contact .contact-text {
width:480px;
}

.contact .contact-text p {
padding: 0 64px 72px 64px;
}

.contact h2 {
padding:32px 0 0 0;
}



.win .contact h2, .chrome .contact h2 {
padding:22px 0 10px 0;
}


.mac.chrome .contact a {
padding:10px 0 22px 0;
}


.subtext {
font-size:14px;
line-height:14px;
}

footer {
background-position:top center;
}

footer p {
font-size:14px;
line-height:14px;
display:block;
height:28px;
float:right;
margin:48px 21% 0 0;
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
}

.ie footer p {
margin:24px 200px 0 0;
}

nav.footer_nav p {
padding:12px 0 10px 0;
display:block;
}

.mac.webkit nav.footer_nav p {
padding:14px 0 9px 0;
}

.mac.chrome nav.footer_nav p {
padding:10px 0 11px 0;
}

.win nav.footer_nav p {
padding:9px 0 12px 0;
}

a.goto {
font-size:0px;
line-height:0px;
padding:0;
margin:0;
height:0;
}

.mac.chrome .contact a.goto {
padding:0;
}

iframe {
max-width:512px;
width:100%;
margin-left:0;
}

@media all and (orientation:portrait) {

nav li {
padding-top:10px;
}

.work-example .rightcol p {
font-size:18px;
line-height:24px;
}

.work-example .sub-nav a {
font-size:18px;
line-height:18px;
}

}
